.backgroundColor{
    background-color: #5d609d;
    overflow: hidden;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}

.button:hover{
    background-color:#54578d;
    transition: background-color 200ms linear;
    display:inline-block;
    margin: 0;
}

.myFont{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    color: white;
    width: 76%;
    font-size: 17px;
    height: 1.2cm;
    border: none;
    text-decoration: none;
}
