head
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href='/static/images/logo.png')
    title Sign in
.login
    p.sign(align='center') Sign in
    form.form1(method="POST" action="/login")
        input.un(type='text' align='center' placeholder=' Username' required='required' name="username")

        input#myInput.pass(type='password' align='center' placeholder=' Password' required='required' name="password")
        i.fa.fa-eye.fa-eye-slash(onclick='changeEye(this)')
        button.submit Sign in
        .forgot(align='center')
            a(href='/register') Register
script.
  function changeEye(icon) {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
    icon.classList.toggle("fa-eye-slash");
  }
