// https://codepen.io/teodorachiosa/pen/BrZONeexa
head
  link(rel='stylesheet' href='../static/css/style.css')
.timetable
  .week-names
    div monday
    div tuesday
    div wednesday
    div thursday
    div friday
    .weekend saturday
    .weekend sunday
  .time-interval
    div 8:00
    div 10:00
    div 12:00
    div 14:00
    div 16:00
    div 18:00
    div 20:00
  .content
    each c in courses
        div
            .accent.center= c.name
    .weekend
    .weekend
        //- .accent-yellow.center= ${c}
    div
      .accent-yellow.center  MNOL
    div
    div
      .accent-pink.center  SD
    div
    div
      .accent-red.center  BD
    .weekend
    .weekend
    div
      .accent-yellow.center-horizontal
        | PL1 
        br
        |  CP1_0.22
    div
      .accent-gray.center
        | BD 
        br
        |  online
    div
      .accent-pink.center-horizontal
        | PL2 
        br
        |  CP1_1.16
    div
      .accent-gray.center
        | BD 
        br
        |  online
    div
      .accent-red.center-horizontal
        | PL2 
        br
        |  CP1_1.21
    .weekend
    .weekend
    div
      .accent-green.center  MDIO
    div
      .accent-gray.center
        | MNOL 
        br
        |  online
    div
      .accent-blue.center  RC
    div
      .accent-gray.center
        | MNOL 
        br
        |  online
    div
    .weekend
    .weekend
    div
      .accent-green.center-horizontal
        | TP1 
        br
        |  CP1_0.22
    div
      .accent-gray.center
        | MDIO 
        br
        |  online
    div
      .accent-blue.center-horizontal
        | PL2 
        br
        |  CP1_1.16
    div
      .accent-gray.center
        | MDIO 
        br
        |  online
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
      .accent-orange.center  DSS
    div
    div
    .weekend
    .weekend
    div
    div
      .accent-gray.center
        | DSS 
        br
        |  online
    div
      .accent-orange.center-horizontal
        | PL2 
        br
        |  CP1_1.16
    div
      .accent-gray.center
        | DSS 
        br
        |  online
    div
    .weekend
    .weekend
    div
    div
      .accent-gray.center
        | SD 
        br
        |  online
    div
    div
      .accent-gray.center
        | SD 
        br
        |  online
    div
    .weekend
    .weekend
    div
    div
      .accent-gray.center
        | RC 
        br
        |  online
    div
    div
      .accent-gray.center
        | RC 
        br
        |  online
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
    div
    div
    div
    div
    div
    .weekend
    .weekend
